body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #748CAB;
    padding-top: 90px;
    min-width: 500px;
    height: 3000px;
    padding-left: 260px;
}

.img1 {
    width: 100px;
    height: 75px;
    float: left;
}

.statements {
    width: 1600px;
}


.quote-container {
    border: 5px solid black;
    min-width: 1425px;
    max-width: 0;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    justify-content: center;
    text-align: center;
}

.quote-container-middle {
    border: 5px solid black;
    min-width: 1380px;
    max-width: 0;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    justify-content: center;
    text-align: center;
}


.first-statement {
    border: 5px solid lightseagreen;
    padding: 8px;
    margin: 8px;
}

.thumbnail {
   width: auto;
   height: auto;
   border: 5px solid;
   border-radius: 20px;
   box-shadow: 10px 10px grey;
}

.video-div {
    padding-left: 350px;
}

#target-image-1 {
    padding-top: 55%;
}

#target-image-2 {
    padding-top: 55%;
}

#target-image-3 {
    padding-top: 55%;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
    display: none;
}
